[2015-12-29 08:52] ifraixedes opened #1 "Generators & Async Function introduction"
---
level: advanced
language: en
twitter: ifraixedes
tags:
  - JS2016
  - ES7
  - BabelJS
  - JS2015
  - ES6

---

An introductory talk about `async function` the new feature proposed for JS2016 (a.k.a ES7).
I will follow the next sequence:

* Introduction to `function generators` (a few sentences, but mostly code examples)
* Introduction of async function (a few sentence, but mostly code examples

[2015-12-29 10:41] lcrespom opened #2 "Sound Synthesis with Web Audio"
---
level: interesting for beginners and experts
language: English or Spanish, depending on the audience preference
twitter: lcrespom
tags:
  - WebAudio
  - SoundSynthesis
  - HTML5

---

Computers have always been a great tool for creating music. Until recently, the web platform was limited to playing back recorded sounds, but the Web Audio API provides very powerful and versatile sound synthesis

[2015-12-29 12:23] eth0lo commented on #1
will you also include how to use generators to get the same result?

[2015-12-29 12:23] eth0lo commented on #2
:+1:

[2015-12-29 18:12] ifraixedes commented on #1
@eth0lo I was thinking to show an example in how to use a generator to produce the same effect; if you mentioned then it seems that I should do :smile:

[2015-12-29 18:13] eth0lo commented on #1
actually async/await is just sugar for generators/promises

[2015-12-29 18:15] eth0lo commented on #1
you can check [co](https://github.com/tj/co) for inspiration they do exactly that

[2015-12-30 09:53] ifraixedes commented on #1
@eth0lo yes I knew it. I inspected [co](https://github.com/tj/co) implementation more than a year ago when first alpha versions of [koa](https://github.com/koajs/koa) appeared

[2015-12-30 09:55] ifraixedes commented on #1
btw, personal opinion, I'm not a big fan of all the things that JS2015/JS2016 brings, JS has lost simplicity.

[2015-12-30 12:43] ifraixedes commented on #1
@eth0lo I can adapt this talk to the preferences of the audience, however I need to know at least a week before the day; ideas of what to tell and show are welcome.

[2015-12-30 15:08] fmvilas commented on #2
:+1:

[2015-12-30 15:16] fmvilas commented on #1
I like it. I've used ```co```, didn't have a look to async/await yet so i guess it can be a nice talk for me. However it may be useful to introduce generators and ```co``` before for people that still don't know about it.

[2015-12-30 16:03] ifraixedes commented on #1
@fmvilas it's OK, async function aren't a so large thing to talk; I was thinking to write a short use case in live but if it's better to have an introduction to generators I'll do it; about `co` I can mention it and explain how internally works.

[2015-12-30 16:38] fmvilas commented on #1
Thanks man! :clap: :+1:

[2016-01-03 15:51] PatrickHeneise commented on #2
@lcrespom you're up in January!

[2016-01-03 15:54] lcrespom commented on #2
Thank you! My presentation is ready and I promise bells and whistles.

Because the talk is about web *audio*, I will need some audio setup so my mac does not only project video but also send audio to the meeting room speakers. Will that be possible? Otherwise I can bring bluetooth speakers.

[2016-01-03 16:53] PatrickHeneise commented on #2
There's an audio jack of course.

[2016-01-03 16:57] lcrespom commented on #2
Great!

[2016-01-03 17:35] fmvilas opened #3 "Hermes - Asynchronous Microservices right to your frontend"
---
level: advanced
language: english or spanish, depending on audience
twitter: @fmvilas
tags:
  - asynchronous
  - microservices
  - amqp
  - rabbitmq
  - websockets
  - frontend
  - react

---

I want to talk about Hermes. This is an in-progress concept on how [asynchronous microservices architecture (based on message brokers, such as RabbitMQ)](http://www.slideshare.net/bpedro/asynchronous-mic

[2016-01-05 13:10] sharnik opened #4 "Using React Native for cross-platform development"
---

level: beginner
language: en
twitter: sharnik
tags:
- react
- mobile

---

I'd like to give an introduction on how to get started with developing cross-platform mobile applications (iOS and Android) in React Native. Some knowledge of how React works is useful, but I'd quickly go through the basic components to refresh them.

I want to focus on answering three questions:
- What is React Native

[2016-01-06 20:37] eth0lo commented on #1
``co`` is async/await, that means if you want to use async/await today use co then change the ``*`` from the function definition and the ``yield`` for ``wait``, the easiest migration path ever!

That's why I think is important to talk about generators -> co -> async/await

[2016-01-06 20:40] eth0lo commented on #3
have you seen [postal](https://github.com/postaljs/postal.js)? they also have a plugin for rabbitmq transports

[2016-01-06 20:42] ifraixedes commented on #1
@eth0lo yeah that was a good idea; I was going to use async functions directly with babel, but before that I will introduce generators how to use generators as async functions.

Your idea of the migrations is pretty good, so I will add it to the talk

[2016-01-06 21:14] fmvilas commented on #3
@eth0lo yes, i know it. It was inspired by AMQP however it differs a lot. I was thinking in a client (not just browser) implementation of exchanges, queues, messages, consumers, etc. And also explain how to integrate it with React for instance.

Implemetation details aside, i would like to explain and debate the architecture.

[2016-01-08 13:35] ifraixedes commented on #1
I've updated the title and description now that I have the structure that I'll follow.

[2016-01-08 14:27] svenanders opened #5 "The frontend developer's workflow"
---
level: beginner + advanced
language: en
twitter: svenardocom
tags:
  - tooling
  - webpack
  - optimisation
  - developer_bliss

---

Learn the tools you need to help you stay productive on the front-end.

The talk will walk through and demonstrate modern tooling, config and tricks you can employ to create web apps efficient. It will demonstrate how you can use these tools to avoid doing too m

[2016-01-08 15:02] svenanders opened #6 "Internet of things and you"
---

level: beginner
language: en
twitter: svenardocom
tags:
- iot
- javascript_robotics

---

Internet of things is going to be awesome - you just don't know it yet.

This talk will delve into the exciting world of Internet of things. It will give you a clearer picture of just what it is, how it will affect you, and how you can use JavaScript to make and program your own IOT devices.

[2016-01-08 16:45] PatrickHeneise commented on #6
This sounds great! When would you be able to give this talk?

[2016-01-10 18:02] svenanders commented on #6
Hi Patrick! Thanks for the vote of confidence :) I was thinking february/march or later, but I'm flexible. I picked up a lot of interesting insight while working at a telecom company this fall/winter (where I'll be working for the rest of january, possibly stretching into into february).

[2016-01-12 08:26] dgil commented on #5
Thank you for your proposal! When would you be able to give this talk?

[2016-01-12 10:32] svenanders commented on #5
Anytime :)

[2016-01-20 16:44] #1 closed

[2016-01-20 16:44] #2 closed

[2016-01-21 10:24] ifraixedes commented on #4
@sharnik  which month are you available to give the talk?

[2016-01-21 10:24] ifraixedes commented on #3
@fmvilas which month are you available to give the talk?

[2016-01-21 10:35] fmvilas commented on #3
I guess in March because in February i'm going to be very busy due to the MWC.

[2016-01-21 11:07] sharnik commented on #4
March, preferably. We're currently working on an app for a client using React Natie and want to go through all the hoops of putting it in production to be able to also cover that.

[2016-01-21 11:35] dgil commented on #5
@svenanders Could you give this talk in the February meet up? It'd be great :smile:

[2016-01-21 13:02] svenanders commented on #5
I think it's a good chance that I can :) Is the date set?

[2016-01-21 14:56] dgil commented on #5
@svenanders Excellent! Yes, the data is set. It'll be on February 10th.

[2016-01-21 14:57] PatrickHeneise commented on #5
@dgil please create an Event first, then label the issue as a talk.

[2016-01-21 15:22] dgil commented on #5
@svenanders your talk is now confirmed for the February meetup :smile: :ok_hand:

[2016-01-21 17:57] ifraixedes commented on #4
@sharnik make sense it will be very good to hear about your real experience.
Thanks we'll try to schedule your talk for March.

[2016-01-22 22:35] svenanders commented on #5
Fantastic :)

[2016-02-08 10:30] sergi opened #7 "The Universal Datatype"
---

level: advanced
language: en
twitter: @sergimansilla
tags:
- rxjs
- reactive
- javascript

---

In this talk I'll introduce reactive programming using RxJS and it's central concept: the Observable Sequence. Observable sequences give developers super-powers by letting you manage asynchronous code with ease, and think about complex flows of events as if they were all synchronous, abstracting ti

[2016-02-08 18:01] dgil commented on #7
Thank you for the proposal! When will you able to give it?

[2016-02-09 10:40] marduke182 opened #8 "Basic Redux"
---
level: beginner
language: es
twitter: @marduke182
tags:
  - Redux

---

Me and a friend @jvlucic are looking to give some talks in the BCNJS meetups if you are interested. Specifically it would be two talks ( we are not sure if both should be in the same session or separate ), one would be for teaching basic Redux and the second for more advanced Redux #9:

This would be this gist of it (pendi

[2016-02-09 10:50] PatrickHeneise commented on #8
Very! Since it's 2 talks and we're trying to get the semantics for all talks right, could you change this issue to include the first session only and create a second issue for the 2nd talk please?

When can you give the talks?

[2016-02-09 10:57] marduke182 opened #9 "An advance introduction to Redux"
---
level: advanced
language: en
twitter: @jvlucic
tags:
  - Redux Thunk
  - Redux Promise
  - Redux Saga
  - Redux Loop

---

Continue the talk proposal of #8

**An advance introduction to Redux:**

- Explain thunk and promise middleware.
- Managing side effects data flows with this middleware
- Introduction to sagas and the benefits over thunk and promise middlewares
- A brief example using redu

[2016-02-09 10:58] marduke182 commented on #8
Done!

The march meetup sounds good?

[2016-02-09 14:35] PatrickHeneise commented on #8
Sounds good!

[2016-02-09 14:35] PatrickHeneise commented on #8
Thanks!

[2016-02-15 12:32] PatrickHeneise opened #10 "Automating Meetups with GitHub"
---

level: advanced
language: en
twitter: PatrickHeneise
tags:
- gitevents
- nodejs

---

During the last year, people from BarcelonaJS, NodeBCN and the London Node User Group (LNUG) have developed a service to help event organisers to automate events by distributing information across services. As we all love GitHub, we're using GitHub issues as main tool to plan events. Event and talk informati

[2016-02-15 12:56] ifraixedes commented on #7
:+1:

[2016-02-16 06:29] somebody32 opened #11 "Deep Dive into Redux Performance Optimizations"
---
level: advanced | expert
language: en
twitter: @somebody32
tags:

-   react
-   redux
-   performance

---

Redux + React allow you to write applications and rarely think about performance: everything is fast out of the box. But what to do if you need to scale your app to handle and display 10x more data? Then you can see perf problems even with React.

In this talk, I will show what react-red

[2016-02-16 11:39] xpujol commented on #8
I'd love it if this was the March BarcelonaJS talk.

[2016-02-16 11:40] karlas commented on #8
I would be very interested too!

[2016-02-16 11:40] karlas commented on #9
Interested!

[2016-02-16 11:53] xpujol commented on #9
+1

[2016-02-16 11:54] karlas commented on #11
Interested :)

[2016-02-16 12:33] Elecash commented on #8
:+1:

[2016-02-16 13:30] tomas2387 commented on #8
:+1:

[2016-02-16 13:34] danielart commented on #8
I'm very interested to assist this Basic Redux talk

[2016-02-16 13:35] danielart commented on #9
+1

[2016-02-16 13:40] giuband commented on #11
+1

[2016-02-16 13:41] giuband commented on #9
+1

[2016-02-16 19:14] jsangilve commented on #9
+1

[2016-02-17 13:44] aralroca commented on #8
I will be there! Sounds good

[2016-02-24 08:44] nevillegallimore commented on #8
This sounds very promising!

[2016-02-24 11:45] PatrickHeneise commented on #8
@marduke182 can we schedule this talk for March?

[2016-02-24 11:59] marduke182 commented on #8
Yes, perfect.

[2016-02-24 12:02] PatrickHeneise commented on #8
Great. I have to fix something in gitevents, then I'll assign it to March.

[2016-02-29 15:03] #5 closed

[2016-02-29 16:44] Snesi opened #12 "p2p JS"
---

level: beginner
language: en
twitter: @davidgshannon
tags:
- webRTC
- multi device presentations

---
### What is WebRTC and how it works from a Frontend Developer's point of view

I gave an introductory talk at work about webRTC and how it can be used for realtime stuff. [https://rtc1.epicdavid.com](https://rtc1.epicdavid.com)

The idea is to showcase what webRTC can do through the presentat

[2016-02-29 16:58] Snesi opened #13 "Elm - Rethinking UI"
---
level: beginner
language: en
twitter: @davidgshannon
tags:

  - Elm
  - Functional Reactive Programming

---

### Why Elm?

Elm is slowly becoming a lot of people's favourite language and this talk will show you why.
Created by Evan Czaplicki as his thesis, the language tries to solve the problem of maintainability of JS code by reimagining how we code UI.

Elm is a purely functional programmi

[2016-03-01 12:43] dfvalero commented on #9
:+1:

[2016-03-01 12:59] mparramont commented on #4
I vote for this one! :+1:

[2016-03-01 13:00] vermiculite commented on #4
I vote for this one!

[2016-03-01 13:08] vermiculite commented on #9
+1

[2016-03-01 13:19] nye commented on #11
+1

[2016-03-01 13:23] nye commented on #4
+1

[2016-03-01 13:56] lcrespom commented on #11
+1

[2016-03-01 13:58] lcrespom commented on #13
+1

[2016-03-01 14:07] somebody32 commented on #13
:+1:

[2016-03-01 14:19] mparramont commented on #12
:+1:

[2016-03-01 17:58] PatrickHeneise commented on #4
@sharnik does this work for March 15?

[2016-03-01 17:59] PatrickHeneise commented on #9
Should we schedule this talk for April?

[2016-03-01 21:25] sharnik commented on #4
Sorry, I won't manage to prepare the talk in time :(
Next month?

El 1 de marzo de 2016 18:58:20 CET, Patrick Heneise <notifications@github.com> escribió:

[2016-03-01 23:29] marduke182 commented on #13
+1

[2016-03-01 23:31] marduke182 commented on #9
Yes

[2016-03-02 08:19] giuband commented on #13
+1

[2016-03-02 10:01] PatrickHeneise commented on #9
Perfect

[2016-03-02 10:02] PatrickHeneise commented on #4
April should work, yes.

[2016-03-02 10:02] PatrickHeneise commented on #3
March 15 works?

[2016-03-02 10:09] fmvilas commented on #3
Ok let's do it!

[2016-03-02 11:18] PatrickHeneise commented on #3
yeah!

[2016-03-02 11:54] jvlucic commented on #9
Hi! I will be giving this talk, so yes! April sounds good! once you set a specific date please let me know. Also, can I do it in english?

[2016-03-02 12:18] PatrickHeneise commented on #9
Date ist Apr 13, english is preferred :)

[2016-03-02 12:26] marduke182 commented on #9
Perfect, I updated the language and added some extra information in the description.

[2016-03-02 15:16] jotabono commented on #13
:+1:

[2016-03-02 18:34] tomacco commented on #13
+1

[2016-03-03 10:36] marduke182 commented on #13
This talk would be an excellent complement / follow-up to the upcoming redux talks ( #8 #9 #11)

[2016-03-03 16:24] Snesi commented on #13
@marduke182 +1 :smile:

[2016-03-03 19:48] dmitry-zaets commented on #11
+1

[2016-03-05 21:13] AndreuGenestar commented on #6
+ 1

[2016-03-09 20:10] Vistur commented on #13
+1

[2016-03-09 20:10] Vistur commented on #9
+1

[2016-03-09 20:11] Vistur commented on #4
+1

[2016-03-09 20:13] Vistur commented on #12
+1

[2016-03-09 22:46] eduponte commented on #10
+1

[2016-03-09 22:48] eduponte commented on #6
+1

[2016-03-11 15:23] sergi commented on #7
@dgil I can do it on the next edition, after March 15th. April, I presume?

[2016-03-16 10:49] XescuGC commented on #11
+1

[2016-03-21 10:58] #3 closed

[2016-03-21 10:58] #8 closed

[2016-03-21 11:55] PatrickHeneise commented on #4
@sharnik you're up for April :)

[2016-03-21 11:55] PatrickHeneise commented on #9
@marduke182 booked!

[2016-03-21 12:01] marduke182 commented on #9
@PatrickHeneise Thanks. The performer is @jvlucic. I will make a pull request this afternoon here:
https://github.com/BarcelonaJS/BarcelonaJS/blob/master/talks/20160413-an-advance-introduction-to-redux.md

[2016-03-21 12:45] sharnik commented on #4
👌

[2016-03-21 12:47] PatrickHeneise commented on #9
Yeah, `gitevents` is pulling the author from the github author. Either PR or re-submit from him. Thanks

[2016-03-29 20:19] dgil commented on #7
@sergi Sorry for the delay! The talks for April have already been selected. Are you available for May? :smiley:

[2016-04-07 17:54] aserrabl commented on #12
+1

[2016-04-08 09:49] onedesert commented on #11
:+1:

[2016-04-08 12:21] adrilort opened #14 "Loving Gulp"
---

level: beginner
language: en
twitter: adrilort
tags:
- nodejs
- gulp

---

Gulp has overpassed Grunt and is now the most downloaded task runner for NodeJS. Even if it describes itself as "The streaming build system".

In this talk I will explain best practices to organize the tasks and configurations and how to integrate it with node scripts to perform many tasks and group of tasks like
- Tra

[2016-04-08 15:49] Morantron commented on #11
:+1:

[2016-04-13 20:38] 360fun opened #15 "Tumult Hype: the new way of responsive design"
---
level: advanced
language: en
twitter: 360fun_net
tags:
  - tumult hype
  - html5
  - css3
  - js
  - responsive design
  - crossbrowser
  - wysiwyg

---

We all love Twitter Bootstrap, it's a great tool to make responsive design easily and cross-browser. Sadly too many followed the same approach and the web nowadays looks all the same. The departure of Adobe Flash created a gap into the creati

[2016-04-14 08:37] giuband commented on #11
A workshop regarding optimization techniques with Redux would be awesome (also following the great talk by Jorge yesterday)

[2016-04-18 10:02] dondanidang commented on #12
+1

[2016-04-20 07:51] MarcTorrent commented on #11
+1

[2016-04-20 08:33] dgil commented on #7
@sergi Will you be able to present it in the May meetup?

[2016-04-20 08:36] dgil commented on #11
Hi @somebody32! Are you interested in presenting this talk in the May meetup?

[2016-04-20 08:39] somebody32 commented on #11
Yes, @dgil, can do that

[2016-04-20 09:25] sergi commented on #7
Hi @dgil,

Unfortunately I am away most of May. I'd definitely be up for June though!

[2016-04-20 11:47] dgil commented on #7
Ok, no problem. I'll ping you again in a month :wink:

[2016-04-20 11:49] dgil commented on #11
@somebody32 Great! You'll be one of the speakers of May 11th meetup :smile:

[2016-04-20 13:33] dgil commented on #13
Hi @Snesi. Can you give this talk in the next meetup (May 11th)?

[2016-04-20 14:15] Snesi commented on #13
Yeah! I'd love to :).

On Wed, Apr 20, 2016, 15:33 Gil Casadevall <notifications@github.com> wrote:

[2016-04-20 14:24] dgil commented on #13
Excellent!!

[2016-05-03 12:30] picsoung opened #16 "Build and manage a Serverless API in JS"
level: beginner
language: en
twitter: picsoung
tags:
 * serverless
 * APIs
 * AWS Lambda

There is currently a major shift sweeping over the software industry. We went from monolithic apps, to API-driven apps, and now software engineers are breaking their apps into "micro-services".
Managing and connecting those different micro-services could be a hassle for DevOps.
AWS offers an interesting servi

[2016-05-03 15:37] dgil commented on #16
Thank you for your proposal! May is already booked, so when will you able to present this talk?

[2016-05-03 15:39] picsoung commented on #16
thanks @dgil :)

June could be an option too, did you decide on a date already?

[2016-05-04 08:29] dgil commented on #16
Yes, it'll be on June 8th. I'll ping you back when we organize the June meetup to see if you are available 😉

[2016-05-04 08:29] dgil commented on #14
Thank you for your proposal!

[2016-05-04 09:00] adrilort commented on #14
thank you @dgil ^_^

[2016-05-05 19:54] paulopez78 commented on #13
+ 1000

[2016-05-06 07:36] landabaso commented on #11
+1

[2016-05-06 07:42] landabaso commented on #4
+1

[2016-05-06 08:01] GinesOrtiz commented on #14
+1

[2016-05-06 08:04] GinesOrtiz commented on #12
+1

[2016-05-06 08:39] ifraixedes commented on #4
@landabaso this talk was given on April event, the issue isn't close because we're on the way to publish a few things related to the talk

[2016-05-06 08:42] landabaso commented on #4
Oups! I see. I got here from the list of submitted talks for [May 11, BarcelonaJS meetup](http://www.meetup.com/BarcelonaJS/events/229637074/). No prob!

[2016-05-06 08:46] ifraixedes commented on #4
@landabaso no problem!

[2016-05-06 08:56] carlesnunez commented on #12
+1

[2016-05-06 08:57] sluceno commented on #12
+1

[2016-05-06 08:58] AdriaRios commented on #12
+1

[2016-05-06 09:51] fmanuelgonzalez commented on #14
+1

[2016-05-06 10:03] pchiwan commented on #14
+1

[2016-05-09 12:26] PixelsCommander opened #17 "Polymer Native - build native applications with HTML/CSS/JS with less hassle, boilerplate and no specific knowledge needed"
---

level: advanced
language: en
twitter: PixelsCommander
tags:
- web components
- ios
- android
- native
- performance
- react native
- polymer

---

Want to have a power of React Native being framework - agnostic? Here you go. Feel free to use HTML/CSS which you know so good to develop completely native applications for mobile platforms.

Currently mobile devices are powerful enough to run mobi

[2016-05-13 15:14] PatrickHeneise commented on #17
Could you give this talk in June?

[2016-05-13 15:14] PatrickHeneise commented on #16
@picsoung want to move this instead to NodeJS Barcelona?

[2016-05-13 15:16] picsoung commented on #16
If you think it's more appropriate.

On Fri, May 13, 2016 at 5:14 PM, Patrick Heneise <notifications@github.com>
wrote:

--
Nicolas Grenié - Hacker in residence
3SCALE | Out-of-the-Box API Management Platform
Tel: +1 415 351 9635
Web: http://nicolasgrenie.com
Twitter: @picsoung <http://twitter.com/picsoung>
Github: picsoung <http://github.io/picsoung>

[2016-05-13 15:16] PixelsCommander commented on #17
Unfortunately no. Can make it in August / early September.

[2016-05-13 15:44] PatrickHeneise commented on #17
We're working on that actually. August we usually have a break, September would probably work.

[2016-05-20 07:38] somebody32 commented on #11
Sorry, forgot to post the keynote here: somebody32.github.io/high-performance-redux/

On the code slides you need to press up/down to go through

[2016-05-23 14:13] PatrickHeneise commented on #16
Well, let's have some nodejs at BarcelonaJS ;)

[2016-05-23 14:21] dgil commented on #16
Hi @picsoung. Can you give this talk in the next meetup (June 22nd)?

[2016-05-23 14:23] picsoung commented on #16
yes sure! :)

On Mon, May 23, 2016 at 4:21 PM, Gil Casadevall <notifications@github.com>
wrote:

--
Nicolas Grenié - Hacker in residence
3SCALE | Out-of-the-Box API Management Platform
Tel: +1 415 351 9635
Web: http://nicolasgrenie.com
Twitter: @picsoung <http://twitter.com/picsoung>
Github: picsoung <http://github.io/picsoung>

[2016-05-23 14:31] dgil commented on #16
Great!

[2016-05-23 14:32] PatrickHeneise commented on #16
@dgil please create an Event first, then label the issue as a talk.

[2016-05-23 14:44] PatrickHeneise commented on #16
Sorry about that, bot seems to be down ;(

[2016-05-23 15:14] dgil commented on #15
Hi @360fun, do you want to give your talk in the June 22nd meetup?

[2016-05-23 16:32] 360fun commented on #15
Sure! :D Let me know all the guidelines please! ^_^

[2016-05-23 16:43] dgil commented on #15
@360fun Great! You can check out the `readme` of this repository for general guidelines.

If you have any doubt you can reply here or contact us on [our slack](http://barcelonajs.herokuapp.com/) or on Twitter [BcnJS](https://twitter.com/BcnJS).

See you at BarcelonaJS meetup!

[2016-05-26 21:14] schickling opened #19 "Apollo - a practical introduction to GraphQL"
---
language: en
twitter: @_schickling
website: [graph.cool](https://graph.cool)
tags:
  - GraphQL
  - Apollo
  - React

---

![logo-1](https://cloud.githubusercontent.com/assets/1567498/15590364/9fe75a30-2397-11e6-920e-11f1dcf7d6fc.png)

Apollo is a new powerful GraphQL client for your React apps. It combines the best features of other GraphQL clients like Relay and Lokka making it very flexible

[2016-05-27 14:11] dgil commented on #19
Hi @schickling, thanks for your proposal. We already have booked the two talks for June. Patrick has mentioned that you are available only for the June meetup, is that right? If so, maybe you could present a smaller version of this talk in a flash talk?

[2016-05-27 14:16] schickling commented on #19
Hi @dgil that should also work! What's the timeframe? 10min?

[2016-05-27 14:50] dgil commented on #19
Yes! 10 min will be great 😉  Thank you!

[2016-05-31 14:45] KeithWoods opened #20 "Building Complex SPAs with React and ESP"
---
language: en
twitter: keith_woods
tags:
- esp-js
- state
- react

---

What does it take to build a complex single page application (SPA)? How do you model state in a way that can be reasoned with yet scales with functionality and remains maintainable? How do you separate your view code from your state and update state in a deterministic manor? We'll answer these questions using a real world o

[2016-06-01 07:59] dgil commented on #20
Thanks for your proposal! We have all the spots covered for June's meetup, so I'll go back to you when we have a free spot in the next meetups.

[2016-06-06 11:08] pimterry opened #21 "Server-Side Web Components"
---

language: en
twitter: pimterry
tags:
- server-side rendering
- web components
- node

---

Web components are changing the fundamentals of web development. They're a powerful new set of APIs that take the core encapsulation and composition magic of modern JS frameworks, and make it a first-class built-in feature of the web.

That's exciting, but we can do even better. Web components are just

[2016-06-27 11:43] sajirdalas opened #22 "Recording Audio/Video streams in the browser with MediaRecorder"
---
language: en
Level: beginner/medium
twitter: SajirKun
tags:
  - web API
  - Mozilla

---

Mozilla, Google and other browser makers are hard at work standardizing new Web APIs that will extend the abilities of the web. One such API is the [MediaRecorder](url) which will allow Javascript to very easily record media streams such as video or audio from different sources and save them or potentiall

[2016-06-27 11:51] PatrickHeneise commented on #22
Hi @sajirdalas, that sounds cool. When would you be able to give this talk?

[2016-06-27 12:28] sajirdalas commented on #22
Next meetup is on the 13 of July, correct? I could have it ready for that or the next one.

[2016-06-28 13:08] PatrickHeneise commented on #22
That would be cool!

[2016-06-30 07:17] KeithWoods commented on #20
Hi ya. Any update on the next meetup slots?

I recently gave this talk at the London Node users group to about 100 people. It seemed well received and I got some great feedback. I'd like to do the same for your usergroup if possible.

[2016-06-30 08:25] PatrickHeneise commented on #20
@dgil ?

[2016-06-30 08:30] dgil commented on #20
Hi @KeithWoods! If you can make it for the next meetup (July 13th) it'd be great!

[2016-06-30 10:39] KeithWoods commented on #20
@dgil yes that'd be great. I'll make plans on my end and be there for the 13th July. Please confirm.

[2016-06-30 11:04] dgil commented on #20
@KeithWoods Excellent! Confirmed 😄

[2016-06-30 12:08] KeithWoods commented on #20
@dgil  Fantastic. See you on the 13th :)

[2016-07-05 09:25] pimterry commented on #21
Ping ping. Any enthusiasm for this?

I've got it booked in at a conference in December, and I'd love give BarcelonaJS a first look sometime beforehand :smile:. Any meetup slots in the next few months would be great.

[2016-07-05 10:37] PatrickHeneise commented on #21
@dgil

[2016-07-05 14:10] sajirdalas commented on #22
hi @PatrickHeneise, any confirmation on the July meetup? I ask just to make sure to set my work schedule with enough time to finish the presentation.

[2016-07-07 08:16] dgil commented on #21
Hi @pimterry, sorry for the delay. Would you be able to present it in the next meetup, July 13th? Otherwise, the next one will be on September if that suits you better. Let me know!

[2016-07-07 11:58] pimterry commented on #21
Yes, so soon in July is tricky, and September much easier. Do you have a date for September yet?

[2016-07-07 20:31] txels commented on #13
+1

[2016-07-07 22:30] dondanidang commented on #12
+1

[2016-07-08 08:04] dgil commented on #21
Ok, I'll ping you back when we have a date 😄

[2016-07-08 08:05] dgil commented on #22
Hi @sajirdalas, sorry for the delay. Are you able to present on the July 13th meet up?

[2016-07-09 08:57] sajirdalas commented on #22
Yes. I will get the presentation done on the weekend. How long (in time) do presentations usually aim for?

[2016-07-09 10:29] dgil commented on #22
@sajirdalas Excellent! You have 25 minutes for the presentation and then there is 5 minutes for questions. See you on July 13th! 😄

[2016-07-25 14:21] leefsmp opened #23 "Adding 3D to your Website with the Autodesk Forge Viewer"
---

language: en
twitter: https://twitter.com/F3lipek
tags:
- WebGL
- Three.js
- Node

---

Philippe Leefsma, developer-evangelist at Autodesk will take you through a demo of the Autodesk Viewer capabilities, a WebGL-based technology that enables your website users to visualize and interact with stunning high-fidelity 3D & 2D models in a browser or on a mobile device. We will present some of our

[2016-09-03 13:18] #9 closed

[2016-09-03 13:18] #11 closed

[2016-09-03 13:18] #13 closed

[2016-09-03 13:18] #15 closed

[2016-09-03 13:18] #16 closed

[2016-09-03 13:18] #20 closed

[2016-09-03 13:18] #22 closed

[2016-09-03 13:19] PatrickHeneise commented on #21
@pimterry the date would be September 22nd. Would you be able to give the talk then?

[2016-09-03 13:19] PatrickHeneise commented on #17
@PixelsCommander our next event is September 22nd. Will you be in Barcelona / could you give the talk?

[2016-09-03 13:20] PatrickHeneise commented on #12
@Snesi our next event is September 22nd. Would you be able to give the talk?

[2016-09-03 14:17] pimterry commented on #21
No, sorry, since we last talked about this I've now completely booked up my September. I'm also not free for the 20th of October, which I assume would be the next date?

I could do the 17th of November though, or the 27th of October instead, if either of those are useful to you.

[2016-09-03 20:24] PatrickHeneise commented on #21
The dates aren't confirmed yet unfortunately. But we'll let you know as soon as we have them. Thanks!

[2016-09-06 07:32] PatrickHeneise commented on #19
@PatrickHeneise please create an Event first, then label the issue as a talk.

[2016-09-06 07:32] #19 closed

[2016-09-06 07:33] PatrickHeneise commented on #6
@svenanders this topic got lost I think. Would you be able to give the talk Sep 22?

[2016-09-13 14:11] cesine opened #24 "Building Authenticated Systems"
---

language: en
twitter: cesine7
tags:
- OAuth 2
- JWT
- PassportJS
- Node
- Bower

---

We will go over a few ways you can implement authentication (including offline authentication strategies) and then dive into some code for both a server and a client which you can adapt to suit your own app.
## Topics discussed
- Using External OAuth2 Providers
- Creating your own OAuth2 Provider
  - Local A

[2016-09-13 14:24] carlesnunez commented on #24
Will be amazing to hear a talk about that!

[2016-10-16 21:09] leefsmp opened #25 "Boost your Web Application with C++!"
---

language: en
twitter: https://twitter.com/F3lipek
tags:
- JavaScript
- ams.js
- Web Assembly

---

Whether you are a hardcore C++ developer, a JavaScript fan or a Web enthusiast, come to see how you can get started compiling C++ to run in browsers and get a sneak peak at the future of web development!

Following a quick introduction to Emscripten, asm.js and Web Assembly, I will show you how

[2016-11-29 15:40] #4 closed

[2017-02-01 10:11] motanelu commented on #10
👍

[2017-02-14 16:08] motanelu opened #26 "Crossbrowser testing with Nightwatch, Travis and Saucelabs"
---
language: en
twitter: @motanelu
tags:
  - testing
  - nightwatch
  - travis
  - saucelabs
---
Sooner or later, any application needs to be released. And before that, it needs to be tested. Ideally!

The purpose of this talk is to explore Nightwatch as a testing framework, how to set up an automated CI system using Travis and using SauceLabs as a browser farm.

[2017-02-14 16:10] carlesnunez commented on #26
Will be so useful hear that talk

[2017-02-15 08:22] masylum commented on #26
Awesome! March is already full (unless someone dumps us) but we can schedule for April 💪

[2017-02-16 10:40] motanelu commented on #26
That'd be awesome! I'm going to start preparing the presentation then

[2017-03-22 06:31] stagas opened #27 "Building a performant, in-browser code editor"
---
language: en
twitter: stagas
tags:
  - algorithms
  - data structures
  - benchmarking
  - vanilla js
---
How NIH syndrome contributes to a performant code editor that runs on all devices.

Walkthrough of the makings, overgoing limitations and pushing performance to the edge.

[2017-03-22 09:08] masylum commented on #27
Awesome!

[2017-04-04 14:36] Gpx commented on #6
Sorry for not paying attention to this issue, there have been some changes in BarcelonaJS and we're trying to become more reactive. If you still want to give this or any other talk please feel free to contact us.

In the meantime, I'm closing this issue.

[2017-04-04 14:36] #6 closed

[2017-04-04 14:37] Gpx commented on #7
Sorry for not paying attention to this issue, there have been some changes in BarcelonaJS and we're trying to become more reactive. If you still want to give this or any other talk please feel free to contact us.

In the meantime, I'm closing this issue.

[2017-04-04 14:37] #7 closed

[2017-04-04 14:37] Gpx commented on #10
Sorry for not paying attention to this issue, there have been some changes in BarcelonaJS and we're trying to become more reactive. If you still want to give this or any other talk please feel free to contact us.

In the meantime, I'm closing this issue.

[2017-04-04 14:37] #10 closed

[2017-04-04 14:37] Gpx commented on #12
Sorry for not paying attention to this issue, there have been some changes in BarcelonaJS and we're trying to become more reactive. If you still want to give this or any other talk please feel free to contact us.

In the meantime, I'm closing this issue.

[2017-04-04 14:37] #12 closed

[2017-04-04 14:38] Gpx commented on #14
Sorry for not paying attention to this issue, there have been some changes in BarcelonaJS and we're trying to become more reactive. If you still want to give this or any other talk please feel free to contact us.

In the meantime, I'm closing this issue.

[2017-04-04 14:38] #14 closed

[2017-04-04 14:38] Gpx commented on #17
Sorry for not paying attention to this issue, there have been some changes in BarcelonaJS and we're trying to become more reactive. If you still want to give this or any other talk please feel free to contact us.

In the meantime, I'm closing this issue.

[2017-04-04 14:38] #17 closed

[2017-04-04 14:38] Gpx commented on #21
Sorry for not paying attention to this issue, there have been some changes in BarcelonaJS and we're trying to become more reactive. If you still want to give this or any other talk please feel free to contact us.

In the meantime, I'm closing this issue.

[2017-04-04 14:38] #21 closed

[2017-04-04 14:38] Gpx commented on #23
Sorry for not paying attention to this issue, there have been some changes in BarcelonaJS and we're trying to become more reactive. If you still want to give this or any other talk please feel free to contact us.

In the meantime, I'm closing this issue.

[2017-04-04 14:38] #23 closed

[2017-04-04 14:39] Gpx commented on #24
Sorry for not paying attention to this issue, there have been some changes in BarcelonaJS and we're trying to become more reactive. If you still want to give this or any other talk please feel free to contact us.

In the meantime, I'm closing this issue.

[2017-04-04 14:39] #24 closed

[2017-04-04 14:39] Gpx commented on #25
Sorry for not paying attention to this issue, there have been some changes in BarcelonaJS and we're trying to become more reactive. If you still want to give this or any other talk please feel free to contact us.

In the meantime, I'm closing this issue.

[2017-04-04 14:39] #25 closed

[2017-04-04 14:39] Gpx commented on #26
Closing this issue since we're going to have the talk in this month's meetup.

[2017-04-04 14:39] #26 closed

[2017-04-04 14:39] Gpx commented on #27
Closing this issue since we're going to have the talk in this month's meetup.

[2017-04-04 14:39] #27 closed

[2017-04-04 17:40] pimterry opened #28 "Hardware Hacking for JavaScript Developers"
---

language: en
twitter: pimterry
tags:
  - node
  - hardware
  - arduino
  - raspberry pi
  - resin.io

---

Better with react than resistors? Understand single-page apps, but lost with a single-board computer? JavaScript is great, but sometimes you want to take your skills out into the real world.

In this talk we'll connect your JavaScript to some hardware, and learn how to interact with and

[2017-04-04 19:00] carlesnunez commented on #28
+1000

[2017-04-04 20:20] Gpx commented on #28
Hey, @pimterry I'm the one you talked to today. The proposal looks great. We'll try to let you know the possible dates as soon as we know them.

Thank you!

/cc @masylum

[2017-04-04 23:35] 360fun opened #29 "Web Bluetooth & Lego Robots"
---
level: advanced
language: en | es
twitter: 360fun_net
tags:
  - web_bluetooth
  - tumult_hype
  - html5
  - lego
  - sbrick
  - robots
---

I think it's time to talk about the new Web Bluetooth APIs and the Physical Web! :D

The speech will be about:
- [Bluetooth.js](https://github.com/360fun/bluetooth.js) a small library to make easier the approach to Web Bluetooth
- [SBrick.js](https://githu

[2017-04-10 14:29] acalpixca opened #30 "Back to the 80s with Voice Services"
---
language: en | es
twitter: lavigi
tags:
  - VoiceServices
  - AmazonEcho
  - Alexa
  - AWSLambda
  - node

---
Learn the key concepts about Voice Services, take a ride on the DeLorean to check that voice user interfaces are fairly similar to the simpler, linear, deterministic user interfaces from the 80's, and learn to create a Voice Application with Amazon Alexa, Lambda Functions and node.js.

[2017-04-11 07:55] Gpx commented on #30
Hi @acalpixca, could you give this talk in May?

[2017-04-11 07:56] Gpx commented on #29
Very nice, when could you give this talk?

[2017-04-11 08:00] acalpixca commented on #30
Hello @Gpx !
Well, it will depend on the date :-) But if I am in Barcelona, then surely yes.
So, when would it be?
Thanks!

[2017-04-11 10:09] 360fun commented on #29
In May probably! :)

[2017-04-13 14:11] Gpx commented on #30
@acalpixca we'll let you know the date as soon as we know it

[2017-04-24 14:11] pimterry commented on #28
Do we have dates for this yet?

Also, this talk would fit really nicely into the same night as https://github.com/BarcelonaJS/speakers/issues/29, if that's doable. Note that this talk needs 40 minutes though, and I'm not sure how much time that other talk would need or how much time you have overall, so it might be a squeeze.

[2017-04-25 09:25] acalpixca commented on #30
Thanks! In May, during weekdays in the evening I am free every day except the 8th and the 22nd. Hope it works out!

[2017-04-25 13:17] Gpx commented on #29
@360fun would you be able to give the talk in June? We were thinking to pair you up with #28

[2017-04-25 16:07] Gpx commented on #30
@acalpixca, is May 30 ok for you?

[2017-04-25 19:33] 360fun commented on #29
Sure, I think it's a really good idea! ;)

[2017-05-10 09:48] Gpx commented on #29
Hey @360fun would the 15th of June work for you?

[2017-05-10 15:20] 360fun commented on #29
Sounds good to me! :)

[2017-06-01 17:11] 360fun commented on #29
News about the time of the speech? Thanks!

[2017-06-01 17:54] Gpx commented on #29
Hi @360fun the time should be from 7pm. I'll confirm tomorrow

[2017-06-02 10:20] #30 closed

[2017-06-02 10:20] Gpx commented on #29
Hey, @360fun, in the end, the day will be the 19th, we're starting at 6.45. Is it ok for you?

[2017-06-02 10:21] 360fun commented on #29
Perfect, thank you! :)

[2017-06-02 11:23] Gpx commented on #29
@360fun can you please provide a small bio? Just a couple of sentences are enough

[2017-06-02 14:35] 360fun commented on #29
In this speech I will talk about **Web Bluetooth** and my project about making **robotic easy for everyone**, in order to use it for: **Fun**, **Education**, **Art**, **Domotics** and much more!
I will show you how to use the latest web technologies (HTML5, CSS3, JavaScript/ECMAScript 6) and tools (Chrome, Tumult Hype, FireBase...) to control Lego robots through **SBrick** (a Lego compatibile Blue

[2017-06-02 14:48] 360fun commented on #29
My name is Francesco Marino ([360FUN.net](http://www.360fun.net)) and I define myself as "360°CREATIVE": I've a wide background in Web Dev, UI-UX Design and Multimedia but I also like to investigate other kind of disciplines.
In this speech I will talk about **Web Bluetooth** and my project about making **robotics easy for everyone**, in order to use it for: **Fun**, **Education**, **Art**, **Domo

[2017-06-21 18:15] 360fun commented on #15
Is it possible to have the video? It was not posted on YouTube...

[2017-07-10 08:14] #29 closed

[2017-07-10 08:14] #28 closed

[2017-08-12 21:38] AquiGorka opened #31 "Puppets: HTML5 for new human-computer interfaces"
---
language: en | es
twitter: AquiGorka
tags:
  - js + webrtc + smartphone + webgl
  - https://github.com/AquiGorka/puppets

---
The talk will go thorugh the work + code I developed to create the 3D virtual Puppet remote controlled via a smartphone:

A puppet consisting of 10 body elements (head, torso, shoulders, arms, thighs and legs) and the proper joints (to connect the body elements and the

[2017-08-23 15:10] Gpx commented on #31
Hey, @AquiGorka thanks for the submission. When could you give the talk?

[2017-08-24 16:04] AquiGorka commented on #31
Hello @Gpx, how often do you usually meet? Where? When are the next meetings scheduled?

[2017-08-28 08:08] Gpx commented on #31
We usually meet once a month at [MWC](https://www.mobileworldcentre.com/). We don't have a date for our next meetup. Which days would be good for you?

[2017-08-28 08:43] AquiGorka commented on #31
@Gpx I currently live in Barcelona so I have full time availability for the next couple of months - I assume the meetups are held after office hours and during the week days right?

With just a heads up notice (about 2 weeks) I can setup the proper slides for the talk.

[2017-08-29 08:17] Gpx commented on #31
I will contact you when we know which day we want to organize it. The meetups are at 7.00pm till 9ish during weekdays

[2017-08-29 09:00] AquiGorka commented on #31
Awesome.

[2017-11-07 00:11] picsoung opened #32 "Building first project with Vue.js"
---
language: en
twitter: picsoung
tags:
  - vuejs
  - algolia
  - apis
---

Few months ago I have launched my first big project using Vue.js framework. The project received thousands of views. I want to share the story behind this project and technical learnings.

Project: [http://🌚🌞.ws](http://🌚🌞.ws)
Date: dont know if you plan a November meetup, but I will be in BCN from 24to 30th of November,

[2017-11-07 12:09] Gpx commented on #32
Hi, @picsoung thanks for the proposal. The talk looks very interesting. Currently, I'm trying to find a venue for November. I'll let you know as soon as I have some more info.

[2017-11-07 17:53] Gpx commented on #32
Hey, the meetup will be on the 23rd unfortunately—we can't have the venue on other days. How would you like to talk at the React meetup instead?

[2017-11-07 18:45] picsoung commented on #32
Arf, too bad, I wont be in Barcelona on time.

It's about Vue... but React meetup seems appropriate too :)

[2017-11-07 19:54] Gpx commented on #32
That's what we thought

[2017-11-16 10:02] XVincentX opened #33 "Resilient Microservice WebAPI with REST and API Gateway"
---
language: en
twitter: d3dvincent
tags:
  - api gateway
  - node
  - rest
---

Splitting your application into a bunch of microservices is a non trivial task with a lot of challenges, that might end up in with a complete different system in terms of architecture, components and more importantly the API surface you’re exposing; and that’s breaking the clients.

Can we prevent that somehow?

In t

[2017-11-17 10:38] Gpx commented on #33
Hi, @XVincentX thanks for the proposal. We'already have speakers for November and we were planning something different for December. Would you able to give this talk next year?

[2017-11-17 10:43] XVincentX commented on #33
@Gpx

Seguro. Espero tu noticias entonces!

[2017-11-17 16:01] alvarotrigo opened #34 "Story of side project"
---
language: en (but can do Spanish if preferred)
twitter: imac2
tags:
  - javascript
  - open source
  - side projects
---
It is a talk about believing in ourselves. A motivational talk about what we can achieve with just enough time and passion for what we do.
A reminder that we do not have to be Mark Zuckerberg or any kind of genius to achieve something we can life from and be happy with.

Thi

[2017-11-18 18:27] Gpx commented on #34
Hi, @alvarotrigo thanks for proposing a talk. Do you think you could give it in January?

[2018-01-08 12:03] somebody32 commented on #34
Hey @alvarotrigo, are you still up to give that talk in January? We're preparing the line-up now

[2018-01-08 12:35] alvarotrigo commented on #34
Sorry, I didn't respond because I didn't know if I was gonna be busy in January or not.
This is not the best month for me, I'm gonna be quite busy moving to another city during this month.

I'll close the topic until I find myself in a better situation where I can go to Barcelona and do the talk.

[2018-01-08 12:35] #34 closed

[2018-08-13 12:56] XVincentX commented on #33
@Gpx Hola — hay algunas novedades sobre esto?

[2018-08-13 15:44] Gpx commented on #33
We should have a free spot in October, would it work for you?

[2018-08-16 13:16] XVincentX commented on #33
I think we can sort this out. Do you have any specific date in mind?

[2018-08-21 07:08] Gpx commented on #33
Not at the moment. Do you have any preference?

[2018-08-21 08:51] XVincentX commented on #33
I am going to be away in United States the first two weeks, I think we can aim for the third one.

[2018-08-21 09:12] Gpx commented on #33
Ok, I'm going to try to see if we can get a venue

[2018-08-31 08:54] Gpx commented on #33
How does October 18th look to you?

[2018-09-05 14:11] Gpx commented on #33
Ping

[2018-09-05 14:14] XVincentX commented on #33
Ops — I completely missed the message. It would be better for me to make it on 22-23 Oct?

[2018-09-06 08:28] Gpx commented on #33
We were aiming for the third week of October. I can ask for the 22-23. If those are not available would the 18th work for you?

[2018-09-06 08:28] XVincentX commented on #33
I can triple check and give you more info but it's really unlikely. I'll be in US during that period and we haven't booked my return yet.

[2018-09-07 08:26] Gpx commented on #33
We booked the place for the 22nd

[2018-09-07 12:50] XVincentX commented on #33
Cojonudo!

[2018-09-27 12:37] Gpx commented on #33
Hey, we're going to announce the meetup on Monday. Can you send me a short bio, please?

[2018-10-01 18:39] Gpx commented on #33
Ping

[2018-10-01 20:47] XVincentX commented on #33
Is there anyway we can change the date for this event?

I’ve been sent in United States by my company and I’ll be back on 17 October in Madrid. I can still make it I might arrive in a horrible condition. If everything has been already set up I’ll be there, I promise. Otherwise, if we could reschedule it during November, that would save my life.

[2018-10-01 21:04] Gpx commented on #33
The date is the 22nd. If you arrive on the 17th, you'll have five days to recover. Now is too late to cancel the venue.

[2018-10-01 21:17] XVincentX commented on #33
Ha! I thought it was on 18th! My mistake! I'll be there then no problem. Let me land in Seattle and I'll send you my bio!

[2018-10-01 21:51] XVincentX commented on #33
[code]

[2018-10-07 17:07] Gpx commented on #33
Yep
https://www.meetup.com/BarcelonaJS/events/255193271/

[2018-10-22 12:34] Gpx commented on #33
Hi @XVincentX, all good for today? Anything you need?

[2018-10-22 12:40] XVincentX commented on #33
I'm at the Madrid airport, departing in 20 minutes :)

Should be all good and ready to go.

[2018-10-22 15:46] XVincentX commented on #33
@Gpx Do you have a USB-HDMI convertor? I'm on a MacBook Pro with USB-C port only and I forgot mine.

[2018-10-22 15:58] Gpx commented on #33
We have it

[2018-10-22 16:31] XVincentX commented on #33
I'm upstairs

[2018-10-22 17:07] XVincentX commented on #33
I have a MacBook Pro with Usb C. Please tell me you have an adapter because I forgot I mine.

[2018-10-22 17:10] XVincentX commented on #33
Me das tu número de móvil por favor? Por sea caso. Ya estoy de camino por el Movistar centre

[2018-10-23 06:47] Gpx commented on #33
Closing this issue. Grazie Vincenzo!

[2018-10-23 06:47] #33 closed

[2019-03-21 17:39] #32 closed

[2019-03-21 17:40] #31 closed

[2019-03-27 12:08] jepser opened #35 "The dark side of React, Server Side Rendering"
language: en
twitter: jepser
github: jepser
title: Server Side Rendeing in React
tags:
- javascript
- reactjs
- ssr

---

I'm software engineer from Guatemala. Working @Typeform.

---

*S*erver *S*ide *R*endering is a topic that pops up when taking about SEO or performance improvements for Single Page Applications.

In the React space, with a lot of tools around, which would be the way to go. Let'

[2019-03-27 12:14] jepser opened #36 "Animate like everybody is dancing - Animations in React"
---

name: Jepser Bernardino
twitter: jepser
github: jepser
title: Animations in React

---

I'm a software engineer from Guatemala. Working @Typeform.

---
From the beginning of internet, animations have being around, from the ancient Markee to inJS solutions, let's explore the current tools what they solve and how they solve it. And dive more on how we solve animations @Typeform when we created

[2019-03-27 15:07] carlesnunez commented on #36
I'm very interested in this one! 👍 Could be great if you provide more tech info about it but looks interesting!

[2019-03-27 15:26] jepser commented on #36
@carlesnunez hey thanks! which type of tech info are you interested? If you're talking about the libraries, it will be covered in the talk.

[2019-03-27 16:13] carlesnunez commented on #36
Yes it was more about the libraries just to check it by myself at home before going to the talk but if you want to talk about them at the talk is ok for me!

Thanks!

[2019-03-27 21:02] ca057 opened #37 "Check out the future of checkouts"
name: Christian Ost
twitter: [_christianost](https://twitter.com/_christianost/)
github: [ca057](https://github.com/ca057)
title: Check out the future of checkouts: An introduction to the Payment Request API.

---

I’m a developer building user interfaces at [Typeform](https://typeform.com).

---

Shopping online becomes more and more common for us, often groceries are the last items we buy in a p

[2019-03-27 21:26] ca057 opened #38 "How does Redux works under the hood? Let’s implement it from scratch."
name: Christian Ost
twitter: [_christianost](https://twitter.com/_christianost/)
github: [ca057](https://github.com/ca057)
title: How does Redux works under the hood? Let’s implement it from scratch.

---

I’m a developer building user interfaces at [Typeform](https://typeform.com).

---

Together with React, Redux as a state management solution got extremely popular. Still a lot of people seem to

[2019-03-28 09:54] joshuaslate opened #39 "Make it Snappy: A Primer on React Performance"
name: Joshua Anderson Slate
twitter: @joshuaslate
github: @joshuaslate
title: Make it Snappy: A Primer on React Performance

---

I'm a software engineer from the U.S., currently living and working here in Barcelona at Typeform.

---

While it's often said that premature optimization is the root of all evil, it makes sense to build components in a scalable way upfront if it doesn't slow down your

[2019-04-08 17:09] TomSelva opened #40 "Migrating a C# App to JavaScript for a Smarter Locker network"
---
name: Tom Selva
email: tomas@mayordomo.io
title: Migrating a C# App to JavaScript for a SMARTER LOCKER Network
---
Tom was the Lead Innovation Engineer for Norman Foster. He's a founder of MOMA award-winning design company Two Islands and London’s fastest growing robotics startup Q-Bot. Currently he is building an open smart locker network.
---
The talk is about how we built a hardware + softw

[2019-04-25 13:46] victorb opened #41 "Open-Registry"
Victor Bjelkholm - Swedish Developer living in Barcelona, Spain

---

Open-Registry is a JavaScript Package Registry funded, developed and maintained by the community, for the community

In this talk, I'll talk about why Open-Registry is needed, how it works and how you can contribute.

https://open-registry.dev

[2019-06-05 09:58] #35 closed

[2019-06-10 19:21] Gpx opened #42 "Testing your app with Testing Library"
Giorgio is a software developer at TravelPerk, member of Testing Library and author of user-event.

---

[React Testing Library](https://testing-library.com/docs/react-testing-library/intro) started as a small library to test React applications. In a brief period of time, it became widely popular, and it's now even suggested by [React's docs](https://reactjs.org/docs/test-utils.html#overview) has

[2019-06-20 09:52] #41 closed

[2019-06-28 10:30] #37 closed

[2019-08-30 08:20] timsuchanek opened #43 "Prisma 2: Modern database tools for Node.js and TypeScript"
Tell us a few words about yourself (it will be published on the meetup.com website)

Tim founded the AI Painting App Wizart and joined Prisma afterward as the first employee. Now he's leading all JavaScript/TypeScript efforts at Prisma while contributing to open source, like the TypeScript compiler.
---
Working with databases in Node.js/TypeScript can be painful. Traditional ORMs like Sequelize or

[2019-09-04 15:19] motanelu commented on #43
Can you please give us some contact details?

[2019-09-12 16:53] glippi opened #44 "Svelte + D3 = data viz made easy"
name: Gabriele Lippi
twitter: gabrielelippi
github: glippi
title: Svelte + D3 = data viz made easy

Software Craftperson @ Codurance.

Recently I had the chance to build a prototype for a data viz project with Svelte and I'd like to share my experience.

The idea is to have first a quick look on Svelte, what are the differences between it and React/Vue/Angular.

Then I would like to do a simple li

[2019-10-02 07:41] afontcu opened #45 "The pragmatic front-end tester"
I'm Adrià Fontcuberta, a UI engineer interested in JavaScript, CSS, UX, lean software development, clean code, and everything in between. In short: I try to build the right thing right.

I currently work at @holaluz

---

Testing the front end shouldn't be that hard!

Using the right tools and the appropriate mindset, we can create a healthy testing strategy for our front-end applications.

In thi

[2019-10-09 14:56] tpombeiro87 commented on #40
This talk has happen already

[2019-10-09 14:56] #40 closed

[2019-10-09 14:57] tpombeiro87 commented on #38
Christian is not available to do this talk anymore

[2019-10-09 14:57] #38 closed

[2019-10-09 19:56] kabaros opened #46 "React Native: Intro to Yoga (Layout and Styling)"
I am a Full-stack software developer, recently moved to Barcelona for a job with Glovo.

Talk level: beginner
language: en
twitter: kabaros

---

Intro to React Native with emphasis on layout and styling

- Why React Native
- An intro to [Yoga](https://yogalayout.com/) - the layout engine behind React Native.
   - How to position components
   - RTL
- How to style text: styles' reuse, theming, scr

[2019-10-09 20:01] kabaros opened #47 "React Native in Production"
I am a Full-stack software developer, recently moved to Barcelona for a job with Glovo.

Talk level: intermediate/advanced
language: en
twitter: kabaros

---

A talk to discuss some aspects of having a React Native application in production:

- Error monitoring and Crash reports (Mitigating, observability, reporting etc..)
- In-App Support
- Over the Air Updates
- Device rendering issues
- Perform

[2019-10-13 14:38] motanelu commented on #46
Hi, we're looking for speakers for October / November. Are you interested in giving a presentation? Can you please reach out at hello@tudorbarbu.ninja? Since you're not following @bcnjs on twitter, we can't DM. Thanks!

[2019-10-28 06:18] #45 closed

[2019-10-28 06:18] #36 closed

[2019-11-13 17:48] biels commented on #43
Looking forward to this talk!

[2019-11-26 16:43] ErikGrijzen opened #48 "Micro Frontend Architecture - Building an Extensible UI Platform"
At New Relic, we recently released New Relic One, the result of a two-year engineering project to migrate to a micro frontend architecture. This new platform is bringing our users from several separate product-aligned monolithic applications to one single platform and unified experience.

The new UI is broken down into separate micro applications, views, and other extension points. This extensible

[2019-12-17 13:38] biels opened #49 "Implementing GraphQL Servers: The N+1 Problem and how to solve it"
In this talk I want to address one of the major challenges to overcome when implementing a production ready GraphQL server: The N+1 problem. I plan to use Node and TS with Apollo Server in the demo but this applies to all languages when implementing a GraphQL API.
- GraphQL example use case
- Explaining the N+1 problem
- What can we do to solve it (DataLoader / GraphQL to SQL)
- Explain the data l

[2019-12-24 15:02] mjesun opened #50 "New Relic programmability architectural overview"
New Relic released a few months ago its programmability feature, allowing third-party users to extend our platform with their own applications, which was made possible thanks to our [revamped frontend architecture](https://github.com/BarcelonaJS/speakers/issues/48). The feature required developing not only changes in our website (one.newrelic.com), but also a CLI to enable setting up the developme

[2020-02-11 14:40] IagoLast commented on #46
Closed in https://www.meetup.com/es/BarcelonaJS/events/266381262/ 🎉

[2020-02-11 14:40] #46 closed

[2020-02-11 14:41] IagoLast commented on #44
Closed in https://www.meetup.com/es/BarcelonaJS/events/266381262/ 🎉

[2020-02-11 14:41] #44 closed

[2020-02-11 14:44] IagoLast commented on #48
Closed in https://www.meetup.com/es/BarcelonaJS/events/267578342/ 🎉

[2020-02-11 14:44] #48 closed

[2020-02-11 14:44] IagoLast commented on #50
Closed by https://www.meetup.com/es/BarcelonaJS/events/267578342/ 🎉

[2020-02-11 14:44] #50 closed

[2020-02-11 18:06] onedesert commented on #42
Hi, @Gpx would you be ready to present on this month meetup? we plan to schedule the event during the week of the 24th.

[2020-02-11 18:07] onedesert commented on #43
Hi, @timsuchanek  would you be ready to present on this month meetup? we plan to schedule the event during the week of the 24th.

[2020-02-12 14:37] onedesert commented on #47
Hi, @kabaros would you be ready to present on this month meetup? we plan to schedule the event during the week of the 24th.

[2020-02-12 14:37] onedesert commented on #49
Hi, @biels would you be ready to present on this month meetup? we plan to schedule the event during the week of the 24th.

[2020-03-04 13:14] carlesnunez opened #51 "Mastering web performance metrics"
Knowing the current status of a web page is important, but in order to do it we must know first how to measure and what this metrics mean. In this talk I'll try to explain in an easy way how the most of these metrics work, how some of them work underneath, some strategies in order to prioritise which of them are more important and the possible problems that you'll find in the way of interpreting w